@import "compass/css3";

$codefont: inconsolata, consolas, 'deja vu sans mono', 'droid sans mono', proggy, monofur, profont, monaco, 'andale mono', courier, monospace;
$mainfont: 'helvetica neue', helvetica, arial, sans-serif;
$altfont: baskerville, 'warnock pro', 'goudy old style', palatino, 'book antiqua', georgia, serif;

$maincolor: #000;
$mainshadow: rgb(0,51,100);
$altcolor: rgb(0, 26, 49); //rgb(0,104,177);
$altshadow: rgb(100,110,190);
$thirdcolor: rgb(91,91,91);
$backcolor: #dde7f1;
$backgradient: #fff;

$codecolor: #000;
$textcolor: #32A632;
$regexcolor: #806E42;

$logo_img: "ruby.png";
$logo_width: image-width($logo_img);
$logo_height: image-height($logo_img);

$slide_w: 1024px;
$slide_h: 768px;
$slide_margin: 30px;

$logo_x: $slide_w - $logo_width - $slide_margin;
$logo_y: $slide_h - $logo_height - $slide_margin;

body {
  color: $maincolor;
  font-family: $mainfont;
}

.slide {
  width: $slide_w;
  height: $slide_h;
  @include background(image-url($logo_img) no-repeat $logo_x $logo_y,
                      linear-gradient(top left, $backcolor, $backgradient));
  text-shadow: none;
}

h1, h2, h3 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 50px;
  text-shadow: 3px 3px 3px $altshadow;
}

h1 {
  font-family: $mainfont;
  font-weight: bold;
}

h2, h3 {
  font-family: $altfont;
  color: $altcolor;
}

h2 {
  font-style: italic;
  font-size: 4em;
}

a {
  color: $thirdcolor;
  text-decoration: underline;
}

em {
  color: $thirdcolor;
  text-shadow: 1px 1px 1px $mainshadow;
}

strong, b {
  font-weight: bolder;
  color: $altcolor;
  text-shadow: 1px 1px 1px $mainshadow;
}

pre {
  //@include border-radius(10px 10px / 10px 10px);
  margin: .5em 30px;
  padding: .5em 10px;
  color: $thirdcolor;
}

code {
  font-family: $codefont;
  font-size: .6em;
  font-weight: bold;
}

pre.sh_sourceCode {
  background-color: transparent;

  .sh_string {
    color: $textcolor;
    font-family: $codefont;
  }

  .sh_regexp {
    color: $regexcolor;
    font-family: $codefont;
  }

  .sh_specialchar {
    color: $regexcolor;
    font-family: $codefont;
  }
}

.title_desc {
  text-align: right;
  color: $thirdcolor;
  font-size: 1.5em;
  margin-right: 30px;

  li {
    padding-bottom: 0.3em;
  }
}

.unreadable {
  padding-left: 30px;
  padding-right: 30px;
}

.content > ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2.5em;
}

.content > ul > li {
  padding: .3em 0 .3em 0;
  margin-left: 0;
  line-height: 1.2em;
}

.content > p {
  text-align: left;
  font-size: 2.5em;
  line-height: 1.3em;
  padding-left: 30px;
  margin: 0;
}

/* Print */
@media print {
  .slide, .preso {
      margin: 10px;
      padding: 0;
      width: 800px;
      height: 600px;
      overflow:hidden;
      border: none;
      page-break-after: always
  }
}

