/* line 30, default.scss */
body {
  color: black;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

/* line 35, default.scss */
.slide {
  width: 1024px;
  height: 768px;
  background: url('images/ruby.png?1391331350') no-repeat 866px 610px, -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #dde7f1), color-stop(100%, #ffffff));
  background: url('images/ruby.png?1391331350') no-repeat 866px 610px, -webkit-linear-gradient(top left, #dde7f1, #ffffff);
  background: url('images/ruby.png?1391331350') no-repeat 866px 610px, -moz-linear-gradient(top left, #dde7f1, #ffffff);
  background: url('images/ruby.png?1391331350') no-repeat 866px 610px, -o-linear-gradient(top left, #dde7f1, #ffffff);
  background: url('images/ruby.png?1391331350') no-repeat 866px 610px, linear-gradient(top left, #dde7f1, #ffffff);
  text-shadow: none;
}

/* line 43, default.scss */
h1, h2, h3 {
  text-align: left;
  padding-left: 30px;
  margin-bottom: 50px;
  text-shadow: 3px 3px 3px #646ebe;
}

/* line 50, default.scss */
h1 {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: bold;
}

/* line 55, default.scss */
h2, h3 {
  font-family: baskerville, "warnock pro", "goudy old style", palatino, "book antiqua", georgia, serif;
  color: #001a31;
}

/* line 60, default.scss */
h2 {
  font-style: italic;
  font-size: 4em;
}

/* line 65, default.scss */
a {
  color: #5b5b5b;
  text-decoration: underline;
}

/* line 70, default.scss */
em {
  color: #5b5b5b;
  text-shadow: 1px 1px 1px #003364;
}

/* line 75, default.scss */
strong, b {
  font-weight: bolder;
  color: #001a31;
  text-shadow: 1px 1px 1px #003364;
}

/* line 81, default.scss */
pre {
  margin: .5em 30px;
  padding: .5em 10px;
  color: #5b5b5b;
}

/* line 88, default.scss */
code {
  font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
  font-size: .6em;
  font-weight: bold;
}

/* line 94, default.scss */
pre.sh_sourceCode {
  background-color: transparent;
}
/* line 97, default.scss */
pre.sh_sourceCode .sh_string {
  color: #32a632;
  font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
}
/* line 102, default.scss */
pre.sh_sourceCode .sh_regexp {
  color: #806e42;
  font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
}
/* line 107, default.scss */
pre.sh_sourceCode .sh_specialchar {
  color: #806e42;
  font-family: inconsolata, consolas, "deja vu sans mono", "droid sans mono", proggy, monofur, profont, monaco, "andale mono", courier, monospace;
}

/* line 113, default.scss */
.title_desc {
  text-align: right;
  color: #5b5b5b;
  font-size: 1.5em;
  margin-right: 30px;
}
/* line 119, default.scss */
.title_desc li {
  padding-bottom: 0.3em;
}

/* line 124, default.scss */
.unreadable {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 129, default.scss */
.content > ul {
  list-style: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 2.5em;
}

/* line 136, default.scss */
.content > ul > li {
  padding: .3em 0 .3em 0;
  margin-left: 0;
  line-height: 1.2em;
}

/* line 142, default.scss */
.content > p {
  text-align: left;
  font-size: 2.5em;
  line-height: 1.3em;
  padding-left: 30px;
  margin: 0;
}

/* Print */
@media print {
  /* line 152, default.scss */
  .slide, .preso {
    margin: 10px;
    padding: 0;
    width: 800px;
    height: 600px;
    overflow: hidden;
    border: none;
    page-break-after: always;
  }
}
